* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --main-color: #330031;
  --second-main-color: #cccccc;
  --first-color: #ffccfd;
  --first-linear-color: #ca26ff;
  --second-linear-color: #fff3b0;
  --thierd-linear-color: #f4cac0;
  --white: #ffffff;
  --black: #111111;
}

/* HEADER STYLE STARTS */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  color: var(--black);
  gap: 2rem;
  text-transform: capitalize;
}

header h1 {
  font-size: 1.8rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 4rem;
  flex-shrink: 0;
}

header ul li:hover {
  transform: scale(1.1);
  color: var(--first-linear-color);
  cursor: pointer;
}

header .search {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 2px 5px 0 #eee;
}

header .search input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  padding: 0.6rem 1rem;
  outline: 0;
  border: 0;
  color: var(--black);
}

header .search i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

header .search input::placeholder {
  color: var(--white);
}

header .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 0;
}

header .btns button {
  padding: 0.5rem 1rem;
  background-color: inherit;
  border: 0;
  outline: 1px solid var(--black);
  border-radius: 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  cursor: pointer;
}

header .btns button:hover {
  background-color: var(--first-color);
  outline: 0;
}

header .btns button#login {
  outline: 0;
}

header .btns button#login:hover {
  outline: 1px solid var(--black);
  background-color: inherit;
}

/* HEADER STYLE ENDS */

#landing {
  padding: 2rem 10rem;
  height: 741px;
}

.landing {
  background: linear-gradient(
    135deg,
    #ca26ff 7.17%,
    #f4cac0 85.48%,
    #fff3b0 100%
  );
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: red;
  border-radius: 20px 20px 300px 20px;
  height: 100%;
}

.info {
  padding: 6rem 4rem;
}

.info h1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.125em;
  color: #330031;
  margin-bottom: 1.5rem;
}

.info h2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 0%;
  letter-spacing: 0.395em;
  color: #ffffff;
  margin-bottom: 5rem;
}

.info p {
  width: 650px;
  height: 200px;
  margin-left: 5rem;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 149.5%;
  letter-spacing: 0.015em;
  color: #ffffff;
}

.image img {
  margin-top: 6rem;
  margin-right: -2rem;
  width: 552px;
  height: 532px;
}

/* End of landing page */

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(95% / 4);
  height: 425px;
  margin-bottom: 5rem;
}

#cards .card img {
  width: 240px;
  height: 355.66px;
  border-radius: 35px;
}

#cards .card button {
  font-family: "Segoe UI";
  background: #330031;
  color: #ffffff;
  font-style: normal;
  width: 240px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.125em;
  border-radius: 35px;
  cursor: pointer;
}

#cards .card button:hover {
  background-color: inherit;
  color: #330031;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  padding: 2rem 4rem;
}

.animeSectionTitle {
  margin-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.6;
  border-bottom: 3px solid #330031;
}
